.text-vertical-center {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        color: white;
    }
    
    @media(min-width: 768px) {
        h1 {
            font-size: 70px
        }
        h2 {
            font-size: 35px
        }
    }

    /* med+ */

    @media(min-width: 992px) {
        h1 {
            font-size: 90px
        }
        h2 {
            font-size: 45px
        }
    }

    /* lag+ */

    @media(min-width: 1200px) {
        h1 {
            font-size: 110px
        }
        h2 {
            font-size: 55px
        }
    }